<mat-card>
    <mat-card-header>
        <mat-card-title>Add New Credit Card</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form #creditCardForm="ngForm" (ngSubmit)="saveCreditCard()">
            <div class="form-group">
                <mat-form-field class="half-width">
                    <label>Name</label>
                    <input matInput placeholder="Enter Credit Card Name" name="name" [(ngModel)]="newCreditCard.name" required minlength="3" maxlength="20">
                    <mat-error *ngIf="creditCardForm.controls['name']?.touched && creditCardForm.controls['name']?.hasError('required')">Name is required</mat-error>
                    <mat-error *ngIf="creditCardForm.controls['name']?.touched && creditCardForm.controls['name']?.hasError('minlength')">Name must have atleast 3 characters</mat-error>
                    <mat-error *ngIf="creditCardForm.controls['name']?.touched && creditCardForm.controls['name']?.hasError('maxlength')">Name cannot be more than 20 characters</mat-error>
                </mat-form-field>
            
                <mat-form-field class="half-width">
                    <label>Bank Name</label>
                    <input matInput placeholder="Enter Bank Name" name="bankName" [(ngModel)]="newCreditCard.bankName" required minlength="3" maxlength="20">
                    <mat-error *ngIf="creditCardForm.controls['bankName']?.touched && creditCardForm.controls['bankName']?.hasError('required')">Bank Name is required</mat-error>
                    <mat-error *ngIf="creditCardForm.controls['bankName']?.touched && creditCardForm.controls['bankName']?.hasError('minlength')">Bank Name must have atleast 3 characters</mat-error>
                    <mat-error *ngIf="creditCardForm.controls['bankName']?.touched && creditCardForm.controls['bankName']?.hasError('maxlength')">Bank Name cannot be more than 20 characters</mat-error>
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field class="full-width">
                    <textarea matInput placeholder="Enter Description" name="description" [(ngModel)]="newCreditCard.description" required minlength="3" ></textarea>
                    <mat-error *ngIf="creditCardForm.controls['description']?.touched && creditCardForm.controls['description']?.hasError('required')">Description is required field</mat-error>
                </mat-form-field>
            </div>
            

            <div class="form-group">
                <mat-form-field class="full-width">
                    <label>Max Credit</label>
                    <input matInput placeholder="Enter Bank Name" name="maxCredit" [(ngModel)]="newCreditCard.maxCredit" required minlength="3" maxlength="20">
                    <mat-error *ngIf="creditCardForm.controls['maxCredit']?.touched && creditCardForm.controls['maxCredit']?.hasError('required')">Max Credit is required</mat-error>
                    <mat-error *ngIf="creditCardForm.controls['maxCredit']?.touched && creditCardForm.controls['maxCredit']?.hasError('minlength')">Max Credit must have atleast 3 characters</mat-error>
                    <mat-error *ngIf="creditCardForm.controls['maxCredit']?.touched && creditCardForm.controls['maxCredit']?.hasError('maxlength')">Max Credit cannot be more than 20 characters</mat-error>
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field class="half-width">
                    <label>Interest Rate</label>
                    <input matInput placeholder="Enter Interest Rate" name="interestRate" [(ngModel)]="newCreditCard.interestRate" required minlength="1" maxlength="20">
                    <mat-error *ngIf="creditCardForm.controls['interestRate']?.touched && creditCardForm.controls['interestRate']?.hasError('required')">Interest Rate is required</mat-error>
                    <mat-error *ngIf="creditCardForm.controls['interestRate']?.touched && creditCardForm.controls['interestRate']?.hasError('minlength')">Interest Rate must have atleast 3 characters</mat-error>
                    <mat-error *ngIf="creditCardForm.controls['interestRate']?.touched && creditCardForm.controls['interestRate']?.hasError('maxlength')">Interest Rate cannot be more than 20 characters</mat-error>
                </mat-form-field>

                <mat-form-field class="half-width">
                    <label>Annual Fee</label>
                    <input matInput placeholder="Enter Annual Fee" name="annualFee" [(ngModel)]="newCreditCard.annualFee" required minlength="1" maxlength="20">
                    <mat-error *ngIf="creditCardForm.controls['annualFee']?.touched && creditCardForm.controls['annualFee']?.hasError('required')">Annual Fee is required</mat-error>
                    <mat-error *ngIf="creditCardForm.controls['annualFee']?.touched && creditCardForm.controls['annualFee']?.hasError('minlength')">Annual Fee must have atleast 3 characters</mat-error>
                    <mat-error *ngIf="creditCardForm.controls['annualFee']?.touched && creditCardForm.controls['annualFee']?.hasError('maxlength')">Annual Fee cannot be more than 20 characters</mat-error>
                </mat-form-field>
            </div>

            <div class="form-group">
               <mat-checkbox name="active" [(ngModel)]="newCreditCard.active" required>Active</mat-checkbox>
               <mat-error *ngId="creditCardForm.controls['interestRate']?.touched && creditCardForm.controls['interestRate']?.hasError('required')">Active must be selected</mat-error>
            </div>

            <div class="form-group">
                <mat-form-field class="full-width">
                    <label>Select Recommended Credit Score</label>
                    <mat-select placeholder="Select Recommended Score" name="recommendedScore" [(ngModel)]="newCreditCard.recommendedScore">
                        <mat-option value="100-500">100-500</mat-option>
                        <mat-option value="300-500">300-500</mat-option>
                        <mat-option value="200-400">200-400</mat-option>
                        <mat-option value="400-600">400-600</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field class="half-width">
                    <input matInput required [matDatepicker]="createdDatePicker" name="createdDate" [(ngModel)]="newCreditCard.createdDate" minlength="3" placeholder="Select Date" >
                    <mat-datepicker-toggle matSuffix [for]="createdDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #createdDatePicker></mat-datepicker>
                    <mat-error *ngIf="creditCardForm.controls['createdDate']?.touched && creditCardForm.controls['createdDate']?.invalid">Select created date</mat-error>
                </mat-form-field>
           
                <mat-form-field class="half-width">
                    <input matInput required [matDatepicker]="updatedDatePicker" name="updatedDate" [(ngModel)]="newCreditCard.updatedDate" minlength="3" placeholder="Select Date" >
                    <mat-datepicker-toggle matSuffix [for]="updatedDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #updatedDatePicker></mat-datepicker>
                    <mat-error *ngIf="creditCardForm.controls['updatedDate']?.touched && creditCardForm.controls['updatedDate']?.invalid">Select Updated Date</mat-error>
                </mat-form-field>
            </div>

        <div class="form-group">
            <button mat-raised-button color="primary" [disabled]="!creditCardForm.valid">Add New Credit Card</button>
        </div>

        </form>
    </mat-card-content>
</mat-card>