
.count-card {
    width:24%;
    margin:5px;
    padding:20px;
}
.bg-success {
    background-color: lightgreen;
}
.bg-warning {
    background-color: lightcoral;
}
.bg-info {
    background-color: lightblue;
}
.bg-primary {
    background-color: lightyellow;
}